
@media (min-width: 200px) and (max-width: 534px){
	.inicio{
		display: none;
		
	}
.dos{
	background-color: #175E7F;
	font-size: 20px;
	display: flex;
	text-align:left;
	flex-direction: column;
}
.dosmenu li{
	list-style: none;
	width: 100vw;
	height: 50px;
}
	
}
