
*{
	margin:0;
	padding: 0;
	font-family: 'Baloo Paaji', cursive;
}


.menu{
	background-color: #175E7F;	
	font-size: 15px;
	display: flex;	
	font-family: 'Prompt', sans-serif;
	padding-top: 20px;
}

.menu li{
	list-style: none;
	width: 100vw;
	height: 50px;
	text-align:center;

}

a{
	color: white;
	text-decoration: none;

}

.bunny{
	font-family: 'Baloo Paaji', cursive;
	font-size: 30px;
	display: flex;
	padding-left: 30px;
	padding-right: 50px;
	padding-bottom: 20px;

}

.love{
	color: #E85876;
	text-align:center;
}

.conejo1{
	width: 100vw;
	display: flex;


}

footer{
  text-align:center;
  height: 70px;
  background-color: #373b47;
  color: white;
  padding-top: 7px;
  overflow: hidden;
}